body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ---------------- IMAGEN DE FONDO DE PANTALLA ---------------- */
  background-image: url(../public/images/Fondo.jpg);
  /* Hacemos translúcida la imagen */
  background-color: rgba(250, 250, 250, 0.89);
  background-blend-mode: lighten;
  /* La imagen se repite */
  background-repeat: no-repeat;
  /* Hacemos que la imagen ocupe toda la pantalla */
  background-size: cover;
  /* La imagen está fija en la posición de la pantalla */
  background-attachment: fixed;
  /* Centramos la imagen */
  background-position: center center;
  margin-top: 70px;
  font-family: 'Poppins','Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}