nav{
    background-color: #121618;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

a{
    float: right;
    margin-right: 40px;
    /* Para que no aparezca como que está subrayado [Hipervínculo] */
    text-decoration: none;
    color: #fff;
}
/* .logoNavbar{
    float: left;
    text-align: left;
    height: 20px;
    width: 20px;
} */