#introduccion {
    /* Centramos el contenido al centro de la página */
    text-align: center;
    /* Ponemos un fondo */
    background-color: #374b56;
    padding: 130px;
}

#sale {
    color: #ffc800;
    font-family: 'Open Sans', sans-serif;
    /* Espaciado entre las letras */
    letter-spacing: 7px;
    font-size: 14px;
}

#aboutus {
    color: #fff;
    letter-spacing: 0px;
    margin: 20px;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    /* Ampliamos el tamaño y el espesor de la fuente */
    font-size: 60px;
    font-weight: 900;
}

#text {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 100px;
    font-style: italic;
}

/* Why jem shocks */
#whyJemDiv{
    column-count: 2;
    margin-top: 200px;
    width: 80%;
    margin-left: 100px;
    margin-bottom: 150px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    height: auto;
}

/* why jem shocks title */

.tg td {
    border-style: transparent;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 10px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.content{
    letter-spacing: 1px;
    line-height: 16px;
    
}
.secTittle{
    width: 250px;
    vertical-align: top;
    font-size: 20px !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}


.fotoWhyJem {
    transition: none;
    text-align: center;
    vertical-align: middle;
    margin-left: 50px;
    width: 550px;
    height: 350px;
    border-radius: 20px;
    
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
    fill: #ffc800;
    color: #ffc800;
}

.founders {
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#OurTeam{
    margin: 120px 0px 70px 0px;
}

#OurTeam h3{
    font-size: 50px;
    text-align: center;
}

#OurTeam hr{
    /* Hacemos un poco más ancha la línea */
    width: 6%;
    /* Hacemos que la línea sea más gruesa */
    height: 4px;
    /* Pintamos la linea de color amarillo */
    background-color: #ffc800;
    border: none;
    /* Alineamos al centro de la ventana */
    margin: 0 auto;
    margin-top: 8px;
}

.photos {
    margin-left: 80px;
    margin-right: 80px;
    column-count: 3;
    column-gap: 30px;
}

/*Fotos de los creadores de la página*/
.founders-1 {
    background-image: url(../../../public/images/EjemploPersona.jpg);
}

.founders-2 {
    background-image: url(../../../public/images/EjemploPersona.jpg);
}

.founders-3 {
    background-image: url(../../../public/images/EjemploPersona.jpg);
}

.single-team-item h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.single-team-item h4 span {
    font-size: 70%;
    display: block;
    margin-top: 10px;
    opacity: 0.7;
}

ul.social-link-team {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.social-link-team li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#content {
    column-count: 2;
    column-gap: 30px;
}

.features {
    margin-left: 80px;
    margin-right: 80px;
    display: block;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 4px;
}

.features-title {
    font-size: 15px;
    color: #000000;
    font-weight: 700;
}

.features-content {
    color: #000000;
}

.partners{
    /* background-color: #cacacaac; */
    background-color: #cacaca;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.partners img{
    flex: 1;
    height: 100px;
    margin: auto;
    object-fit: contain;
}
