#cuerpo{
    background-image: url(../../../public/images/Fondo.jpg);
    /* Hacemos translúcida la imagen */
    background-color: rgba(250, 250, 250, 0.89);
    background-blend-mode: lighten;
    /* La imagen se repite */
    background-repeat: no-repeat;
    /* Hacemos que la imagen ocupe toda la pantalla */
    background-size: cover;
    /* La imagen está fija en la posición de la pantalla */
    background-attachment: fixed;
    /* Centramos la imagen */
    background-position: center center;
}

#introduccion{
    /* Centramos el contenido al centro de la página */
    text-align: center;
    /* Ponemos un fondo */
    background-color: #374b56;
    padding: 100px ;
}

#sale{
    color: #ffdc00;
    font-family:'Open Sans', sans-serif;
    /* Espaciado entre las letras */
    letter-spacing: 7px;
    font-size: 14px;
}

#aboutus{
    color: #fff;
    letter-spacing: 0px;
    margin: 20px;
    font-family: 'Poppins','Open Sans', sans-serif;
    /* Ampliamos el tamaño y el espesor de la fuente */
    font-size: 60px;
    font-weight: 900;
}

#text{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 100px ;
    font-style: italic;
}


/* una ralla debajo del titulo pero que aparece muy abajo y no se como cambiarlo*/
/* #text::after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background-color: #F28123;
    margin: 0 auto;
}
*, ::after, ::before {
    box-sizing: border-box;
} */

#titulo1{
    /* Ampliamos el tamaño de letra */
    /* padding-top: 80px; */
    font-family: 'Poppins','Open Sans', sans-serif;
    font-size: 60px;
    color: #000000;
}
#titulo2{
    font-size: 60px;
    color: #ffc800;
}

#cuerpo1{
    margin: 20px;
}

.founders {
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

/*Fotos de los creadores de la página*/
.founders-1 {
    background-image: url(../img/team-2.jpg);
}
.founders-2 {
    background-image: url(../img/team-2.jpg);
}
.founders-3 {
    background-image: url(../img/team-2.jpg);
}

.photos{
    margin-left: 80px;
    margin-right: 80px;
    column-count: 3;
    column-gap: 30px;
}

.single-team-item h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.single-team-item h4 span {
    font-size: 70%;
    display: block;
    margin-top: 10px;
    opacity: 0.7;
}

ul.social-link-team {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.social-link-team li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#content{
    column-count: 2;
    column-gap: 30px;
}

.features{
    margin-left: 80px;
    margin-right: 80px;
    display: block;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 4px;
}

.features-title {
    font-size: 15px;
    color: #000000;
    font-weight: 700;
}

.features-content {
    color: #000000;
}




/*Preloader*/

  /* #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #000000;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;

  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ffc800;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #000000;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  } */