#cuerpo{
    background-image: url(../../../public/images/Fondo.jpg);
    /* Hacemos translúcida la imagen */
    background-color: rgba(250, 250, 250, 0.89);
    background-blend-mode: lighten;
    /* La imagen se repite */
    background-repeat: no-repeat;
    /* Hacemos que la imagen ocupe toda la pantalla */
    background-size: cover;
    /* La imagen está fija en la posición de la pantalla */
    background-attachment: fixed;
    /* Centramos la imagen */
    background-position: center center;
}

#introduccion{
    /* Centramos el contenido al centro de la página */
    text-align: center;
    /* Ponemos un fondo */
    background-color: #374b56;
    padding: 150px ;
}

#sale{
    color: #ffdc00;
    /* Espaciado entre las letras */
    letter-spacing: 3px;
    font-size: 14px;
}

#aboutus{
    color: #fff;
    letter-spacing: 5px;
    margin: 20px;
    /* Ampliamos el tamaño de la fuente */
    font-size: 50px;
}

#text{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 150px ;
    font-style: italic;
}

#cuerpo2{
    margin: 20px;
}