#carousel{
    margin: 120px 0px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 21em;
    overflow: hidden;
    user-select: none;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 15px 0px rgb(235, 235, 235);
    border-radius: 30px;
}

#carousel img{
    border-radius: 60px;
    width: 8%;
    margin: 18px 0px 30px;
}

#opinion-0, #opinion-1, #opinion-2{
    /* Centramos todo el contenido al centro */
    text-align: center;
    /* Centramos el contenido en línea */
    justify-content: center;
    /* Centramos el contenido en línea */
    align-items: center;
    position: absolute;
    top: 100%;
    width: 100%;
    /* transition: top 0.3s ease-in-out; */
}

#opinion-0 h3, #opinion-1 h3, #opinion-2 h3{
    font-size: 20px;
    margin:0px 0px 17.5px;
}

#opinion-0 span, #opinion-1 span, #opinion-2 span{
    display: block;
    font-size: 14px;
    margin: 10px 0px 0px;
    color: gray;
}

#opinion-0 p, #opinion-1 p, #opinion-2 p{
    font-size: 17px;
    margin: 20px 35px 0px;
    line-height: 30px;
}

#opinion-0 svg, #opinion-1 svg, #opinion-2 svg{
    transform: rotate(180deg);
    width: 3%;
    fill: gray;
}