#ColumnasImportantes{
    margin: 150px;
    display: flex;
    width: 80%;
}

#FormularioContacto, #datos{
    padding: 0 15px;
}

/* Ajustamos el ancho de cada columna de nuestro div principal */
#FormularioContacto{
    width: 73%;
}

#datos{
    width: 27%;
}

#tituloForm{
    margin-bottom: 25px;
}

.descripcionPregunta{
    color: #000;
    text-align: justify;
    /* Espacio entre líneas */
    line-height: 1.5;
}

#primeraLinea, #segundaLinea{
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(20px);
}

#nombre, #email, #telefono, #asunto{
    width: 50%;
    padding: 15px;
    overflow: auto;
    font-size: 1rem;
    color: #000;
    font-family: 'Poppins','Open Sans', sans-serif;
    /* Añadimos un borde de color gris */
    border: 1px solid #ccc;
    transition: none;
}

#nombre:focus, #email:focus, #telefono:focus, #asunto:focus{
    font-size: 1rem;
    border: 2px solid #000;
}

textarea{
    height: 200px;
    width: 100%;
    /* Ajustamos el contenido al anchoh de la ventana */
    box-sizing: border-box;
    resize: none;
    /* Si sobrepasa el tamaño, que el usuario pueda hacer scroll */
    overflow: auto;
    font-family: 'Poppins','Open Sans', sans-serif;
    /* Ponemos un fondo transparente */
    background-color: transparent;
    /* Ponemos el mismo tamaño que el resto de los placeholders */
    font-size: 1rem;
    padding: 15px;
    border: 1px solid #ccc;
    margin: 0px 0px 17.5px;
    backdrop-filter: blur(10px);
}

/* ----------------------------------------------*/
/* BOTÓN DE ENVIAR */
/* ----------------------------------------------*/

input[type="submit"] {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    background-color: #ffc800;
    padding: 10px 30px;
    border: solid #ffc800 2px;
    box-shadow: none;
    border-radius: 50px;
    transition: 448ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: auto;
}

input[type="submit"]:hover {
    transition: 448ms;
    padding: 10px 49px;
    transform: translateY(-0px);
    background-color: #ffd94e;
    color: #000000;
    border: solid 2px #374b56;
    /* Tipo de letra Poppins */
}

/* ----------------------------------------------*/
/* DATOS DE INTERÉS */
/* ----------------------------------------------*/

#InformacionAdicional{
    background-color: rgb(239, 239, 239);
    padding: 45px 30px;
}

#InformacionAdicional h4{
    font-size: 20px;
    font-family: 'Poppins','Open Sans', sans-serif;
    margin: 0px 0px 10px;
}

#InformacionAdicional p{
    font-size: 14px;
    font-family: 'Poppins','Open Sans', sans-serif;
    /* Añadimos separación entra las lineas */
    line-height: 2;
    color: rgb(99, 99, 99);
    margin-right: 15px;
}

#InformacionAdicional svg{
    float: left;
    fill: #ffc800;
}

#ShopAddress, #ShopHours, #Contact{
    margin: 0px 0px 30px;
    padding: 0px 0px 0px 30px;
}

#Contact{
    margin: 0px;
}


/* FIND OUR LOCATION */
#FindLocation{
    height: 262px;
    background-color: #051922;
    color: #fff;
    font-size: 40px;
    /* Centrado tanto vertical como horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

#FindLocation svg{
    margin: 15px;
    fill: #ffc800;
    /* Para alinearlo al nivel del texto */
    margin-top: 0px;
}

#mapa{
    display: flex;
}

#MapaUSJ{
    border-radius: 0px;
    /* Ajustar el ancho al tamaño completo de la ventana */
    width: 100%;
    height: 100%;
    border: 0px;
    /* quitamos que se haga transparente cuando el raton se situe encima de la imagen */
    pointer-events: none;
}