#error{
  /* Para alinear la imagen al centro de la pantalla */
  display: flex;
  justify-content: center; 
  align-items: center;
}

#Error404NotFound {
  /* Agrandamos la imagen */
  width: 120%;
  height: 100%;
}
