#footer{
    background-color: #3d3d3d;
    /* Ponemos un borde en la parte de arriba de color amarillo */
    border-top: 1px solid #ffdc00;
    /* Le damos un estilo a la fuente */
    font-family: 'Poppins','Open Sans', sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p{
    /* Alineamos el texto al centro de la pantalla */
    text-align: center;
    /* Ponemos el color de la fuente en color blanco */
    color: #fff;
    font-size: 15px;
    margin: 0px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}