*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

#tituloPrincipal{
    color: #fff;
    letter-spacing: 0px;
    margin: 20px 20px 0px 20px;
    /* Ampliamos el tamaño y el espesor de la fuente */
    font-size: 70px;
    font-weight: 900;
}

#portada{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', 'Open Sans', sans-serif;

    background-image: url(../../../public/images/Portada7.jpg);
    /* Hacemos que la imagen no se repita */
    background-repeat: no-repeat;
    /* Hacemos que la imagen se ajuste al tamaño del contenedor */
    background-size: cover;
    /* Centramos la imagen */
    background-position: center;
    /* Hacemos que la imagen se quede fija en la posición */
    background-attachment: fixed;
    /* Hacemos que la imagen sea mas oscura */
    background-color: rgba(51, 51, 51, 0.5);
    /* Hacemos que la imagen sea translucida */
    background-blend-mode: overlay;

    /* Centramos el contenido al centro */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Hacemos qeu el h5 este primero antes qeu el h1 */
    flex-direction: column;
}

#portada h5{
    /* Hacemos más grande la letra */
    font-size: 20px;
    color: #ffc800;
}

#portada a{
    text-decoration: none;
    color: black;
    outline: none;
}

#botonesPortada{
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonesPortada button{
    margin: 20px 0px 0px 15px;
    padding: 10px 30px;
}

/* ----------------------------------------------------- */
/* ---------------INFORMACIÓN PRINCIPAL---------------- */
/* ----------------------------------------------------- */

#segundaSeccion{
    padding: 80px 0px;
    background-color: #f8f8f8;
}

#segundaSeccion td{
    padding: 0px 15px;
}

#segundaSeccion h3{
    font-size: 18px;
    margin: 4px 0px 4px;
    line-height: 22px;
    text-align: left;
}

#InfoPrincipal h3:hover{
    color: #ffc800;
}

#segundaSeccion p{
    font-size: 14px;
    white-space: nowrap;
    color: #051922;
    text-align: left;
}

#InfoPrincipal{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#InfoPrincipal svg{
    width: 15%;
    height: 100%;
    fill: #ffc800;
    /* Ponemos el contenido a la izq */
    float: left;
    margin: 0px 20px 0px 0px;
}

#InfoPrincipal svg:hover{
    fill: #051922;
}

/* ----------------------------------------------------- */
/* ----------PRESENTACIÓN DE VARIOS PRODUCTOS----------- */
/* ----------------------------------------------------- */

#terceraSeccion{
    margin: 150px 0px;
}

#tituloProductos{
    color: #ffc800;
    transition: 0.3s;
}

#cuerpoProductos{
    color: black;
}

/* Para intercambiar los colores del titulo cuando el usuario haga hover sobre el titulo */
#tituloProductos:hover{
    color: black;
}

#tituloProductos:hover #cuerpoProductos {
    color: #ffc800;
    transition: 0.3s;
}

#terceraSeccion h3{
    font-size: 50px;
    text-align: center;
}

#terceraSeccion hr{
    /* Hacemos un poco más ancha la línea */
    width: 6%;
    /* Hacemos que la línea sea más gruesa */
    height: 4px;
    /* Pintamos la linea de color amarillo */
    background-color: #ffc800;
    border: none;
    /* Alineamos al centro de la ventana */
    margin: 0 auto;
    margin-top: 8px;
}

#terceraSeccion p{
    font-size: 17px;
    text-align: center;
    margin: 18px 150px 100px 150px;
}

#ejemplosCalcetines{
    padding: 0px 15px;
    column-count: 3;
    width: 80%;
    margin: 0 auto;
}

#ejCalcetines1, #ejCalcetines2, #ejCalcetines3{
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #ffeca9;
    height: 85vh;
}

#ejCalcetines1:hover, #ejCalcetines2:hover, #ejCalcetines3:hover{
    box-shadow: 0px 0px 15px 0px #949494;
}

#ejemplosCalcetines img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0px 0px 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#ejemplosCalcetines h3{
    font-size: 20px;
    margin: 0px 0px 15px;
}

#ejemplosCalcetines p{
    font-size: 30px;
    margin: auto;
    font-weight: 700;
}

#ejemplosCalcetines a, #cuartaSeccion a{
    text-decoration: none;
    color: black;
}

#botonTienda{
    background-color: #ffc800; 
    border-radius: 29px; 
    border: 1px solid #ffc800; 
    color: black; 
    font-size: 15px; 
    padding: 10px 45px; 
    cursor: pointer; 
    transition: 0.3s; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
#botonTienda:hover{ 
    background-color: #ffd94e; 
    color: #081F2D; 
    border-color: #081F2D; 
    transition: 0.5s; 
    font-weight: 600;
}

#botonTienda svg{
    margin-right: 8px;
    width: 20px;
    height: 30px;
}

#VerTienda{
    /* Quitamos el subrayado */
    text-decoration: none;
    /* Quitamos todo lo que le afecte al boton */
    outline: none;
    color: black;
    margin-top: 4px;
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------------------- */
/* ----------OFERTA DEL MES - CUARTA SECCION------------ */
/* ----------------------------------------------------- */

#cuartaSeccion{
    padding: 100px 0px;
    background-color: #f8f8f8;
    column-count: 2;
}

#ProductoMes{
    padding: 40px 15px 0px;
    width: 70%;
}

#cuartaSeccion img{
    width: 60%;
    margin: 40px 0px 0px;
    padding: 0px 0px 15px;
    /* Alineamos la imagen al centro */
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#cuartaSeccion h3{
    font-size: 40px;
    margin: 0px 0px 17.5px;
}

#cuartaSeccion h4{
    font-size: 21px;
    margin: 0px 0px 17.5px;
    letter-spacing: 1px;
}

#cuartaSeccion p{
    line-height: 30px;
}

#precioAnterior, #precioActual{
    display: inline-block;
}

#precioAnterior{
    font-size: 30px;
    /* Tachamos la letra */
    text-decoration: line-through red;
    color: #a9a9a9;
    margin-right: 20px;
}

#countdown{
    /* Quitamos los guiones de la lista */
    list-style-type: none;
    /* Ponemos cada li en línea */
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

#countdown li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0px 24px;
}

#countdown li span {
    font-size: 2em;
    position: absolute;
    top: -1em;
}

/* ----------------------------------------------------- */
/* --------------INFO TIENDA - SEXTA SECCION------------ */
/* ----------------------------------------------------- */

#sextaSeccion{
    background-color: white;
    column-gap: 2;
    margin: 0 auto;
    /* Hacemos más grande el alto */
    height: 600px;
}

#ajustamosAncho{
    display: flex;
    /* Ajustamos a todo lo alto que da el contenedor */
    height: 100%;
    /* Alineamos el contenido al centro */
    align-items: center;
    /* Alineamos el contenido al centro */
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

#columna{
    padding: 0px 15px;
    margin: 0 auto;
}

#columna video{
    width: 100%;
    border-radius: 15px;
    /* Añadimos una sombra */
    box-shadow: 0px 0px 15px 0px #949494;
}

#since{
    padding: 50px 50px 50px 30px;
}

#columna p{
    font-size: 15px;
    margin: 0px 0px 10px;
    /* Añadimos más espacio entre líneas */
    line-height: 30px;
}

#columna h2{
    font-size: 42px;
    margin: 0px 0px 17.5px;
}

#columna span{
    color: #ffc800;
}

#since a{
    text-decoration: none;
    color: black;
}

#knowMore{
    background-color: #ffc800; 
    border-radius: 29px; 
    border: 1px solid #ffc800; 
    color: black; 
    font-size: 15px; 
    padding: 10px 45px; 
    cursor: pointer; 
    transition: 0.3s; 
    margin-top: 20px;
    margin-left: 0px;
    margin-right: auto;
    display: flex;
    /* flex-direction: row; */
}
    
#knowMore:hover{ 
    background-color: #ffd94e; 
    color: #081F2D; 
    border-color: #081F2D; 
    transition: 0.5s; 
    font-weight: 600;
}

#goAbout{
    /* Quitamos el subrayado */
    text-decoration: none;
    /* Quitamos todo lo que le afecte al boton */
    outline: none;
    color: black;
    margin-top: 4px;
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------------------- */
/* ----------------INFO - SÉPTIMA SECCION--------------- */
/* ----------------------------------------------------- */

#septimaSeccion{
    /* margin-top: 150px; */
    padding: 115px 0px;
    /* Insertamos una imagen de fondo */
    background-image: url(../../../public/images/Portada4.png);
    /* Ponemos translucida la imagen */
    /* background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay; */
    /* Ajustamos el tamaño de la imagen */
    background-size: cover;
    /* Ajustamos la posición de la imagen */
    background-position: center;
}

#nuevosDescuentos{
    margin: 0px 130px;
    padding: 0px 15px;
}

#septimaSeccion h2{
    font-size: 52px;
    text-align: right;
}

#cambioLetra{
    color: #ffc800;
}

.descuento{
    font-size: 40px;
    font-weight: 700;
    color: #ffc800;
    margin-top: 40px;
    text-align: right;
}

#hastaDescuento, #off{
    color: black;
    margin: 0px 10px 0px 0px;
}

#hastaDescuento{
    letter-spacing: 1.5px;
}

#cincuenta{
    font-size: 80px;
}

#nuevosDescuentos a{
    text-decoration: none;
    color: black;
    outline: none;
}

#bigDiscount{
    background-color: #ffc800; 
    border-radius: 29px; 
    border: 1px solid #ffc800; 
    color: black; 
    font-size: 17px; 
    padding: 10px 45px; 
    cursor: pointer; 
    transition: 0.3s; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    /* flex-direction: row; */
}
    
#bigDiscount:hover{ 
    background-color: #ffd94e; 
    color: #081F2D; 
    border-color: #081F2D; 
    transition: 0.5s; 
    font-weight: 600;
}

#goAbout{
    /* outline: none; */
    color: black;
    margin-top: 4px;
    font-family: 'Poppins', sans-serif;
}