*{
    margin: 0;
    padding: 0;
}

#cuerpo{
    background-image: url(../../../public/images/Portada.jpg);
    /* Hacemos que la imagen no se repita */
    background-repeat: no-repeat;
    /* Hacemos que la imagen se ajuste al tamaño del contenedor */
    background-size: cover;
    /* Centramos la imagen */
    background-position: center;
    /* Hacemos que la imagen se quede fija en la posición */
    background-attachment: fixed;
    /* Hacemos que la imagen sea mas oscura */
    background-color: rgba(150, 150, 150, 0.5);
    /* Hacemos que la imagen sea translucida */
    background-blend-mode: overlay;
}

#portada{
    width: 100%;
    height: 100%;
}