*{
    margin: 0;
    padding: 0;
}

#tituloPrincipal{
    color: #fff;
    letter-spacing: 0px;
    margin: 20px 20px 0px 20px;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    /* Ampliamos el tamaño y el espesor de la fuente */
    font-size: 60px;
    font-weight: 900;
}

#portada{
    width: 100%;
    height: 100%;

    background-image: url(../../../public/images/Portada.jpg);
    /* Hacemos que la imagen no se repita */
    background-repeat: no-repeat;
    /* Hacemos que la imagen se ajuste al tamaño del contenedor */
    background-size: cover;
    /* Centramos la imagen */
    background-position: center;
    /* Hacemos que la imagen se quede fija en la posición */
    background-attachment: fixed;
    /* Hacemos que la imagen sea mas oscura */
    background-color: rgba(167, 167, 167, 0.5);
    /* Hacemos que la imagen sea translucida */
    background-blend-mode: overlay;
}

/* ----------------------------------------------------- */
/* ---------------INFORMACIÓN PRINCIPAL---------------- */
/* ----------------------------------------------------- */

#segundaSeccion{
    padding: 80px 0px;
    background-color: #f8f8f8;
}

#segundaSeccion td{
    padding: 0px 15px;
}

#segundaSeccion h3{
    font-size: 18px;
    margin: 4px 0px 4px;
    line-height: 22px;
    text-align: left;
}

#InfoPrincipal h3:hover{
    color: #ffc800;
}

#segundaSeccion p{
    font-size: 14px;
    white-space: nowrap;
    color: #051922;
    text-align: left;
}

#InfoPrincipal{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#InfoPrincipal svg{
    width: 15%;
    height: 100%;
    fill: #ffc800;
    /* Ponemos el contenido a la izq */
    float: left;
    margin: 0px 20px 0px 0px;
}

#InfoPrincipal svg:hover{
    fill: #051922;
}

/* ----------------------------------------------------- */
/* ----------PRESENTACIÓN DE VARIOS PRODUCTOS----------- */
/* ----------------------------------------------------- */

#terceraSeccion{
    margin: 150px 0px;
}

#tituloProductos{
    color: #ffc800;
    transition: 0.3s;
}

#cuerpoProductos{
    color: black;
}

/* Para intercambiar los colores del titulo cuando el usuario haga hover sobre el titulo */
#tituloProductos:hover{
    color: black;
}

#tituloProductos:hover #cuerpoProductos {
    color: #ffc800;
    transition: 0.3s;
}

#terceraSeccion h3{
    font-size: 50px;
    text-align: center;
}

#terceraSeccion hr{
    /* Hacemos un poco más ancha la línea */
    width: 6%;
    /* Hacemos que la línea sea más gruesa */
    height: 4px;
    /* Pintamos la linea de color amarillo */
    background-color: #ffc800;
    border: none;
    /* Alineamos al centro de la ventana */
    margin: 0 auto;
    margin-top: 8px;
}

#terceraSeccion p{
    font-size: 17px;
    text-align: center;
    margin: 18px 150px 90px 150px;
}

#ejemplosCalcetines{
    padding: 0px 15px;
    column-count: 3;
    width: 80%;
    margin: 0 auto;
}

#ejCalcetines1, #ejCalcetines2, #ejCalcetines3{
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #ffeca9;
    height: 85vh;
}

#ejCalcetines1:hover, #ejCalcetines2:hover, #ejCalcetines3:hover{
    box-shadow: 0px 0px 15px 0px rgb(148, 148, 148);
}

#ejemplosCalcetines img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0px 0px 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#ejemplosCalcetines h3{
    font-size: 20px;
    margin: 0px 0px 15px;
}

#ejemplosCalcetines p{
    font-size: 30px;
    margin: 0px 0px 20px;
    font-weight: 700;
}

#botonTienda{
    background-color: #ffc800; 
    border-radius: 29px; 
    border: 1px solid #ffc800; 
    color: black; 
    font-size: 15px; 
    padding: 10px 45px; 
    cursor: pointer; 
    transition: 0.3s; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
#botonTienda:hover{ 
    background-color: transparent; 
    color: #081F2D; 
    border-color: #081F2D; 
    transition: 0.5s; 
    font-weight: 600;
}

#botonTienda svg{
    margin-right: 8px;
    width: 20px;
    height: 30px;
}

#VerTienda{
    /* Quitamos el subrayado */
    text-decoration: none;
    /* Quitamos todo lo que le afecte al boton */
    outline: none;
    color: black;
    margin-top: 4px;
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------------------- */
/* ----------OFERTA DEL MES - CUARTA SECCION------------ */
/* ----------------------------------------------------- */

#cuartaSeccion{
    padding: 100px 0px;
    background-color: #f8f8f8;
    column-count: 2;
}

#ProductoMes{
    padding: 40px 15px 0px;
    width: 70%;
}

#cuartaSeccion img{
    width: 40%;
    margin: 40px 0px 0px;
    padding: 0px 0px 15px;
}

#cuartaSeccion h3{
    font-size: 40px;
    margin: 0px 0px 17.5px;
}

#cuartaSeccion h4{
    font-size: 21px;
    margin: 0px 0px 17.5px;
    letter-spacing: 1px;
}

#cuartaSeccion p{
    line-height: 30px;
}

#cuartaSeccion ul{
    /* Quitamos los guiones de la lista */
    list-style-type: none;
    /* Ponemos cada li en línea */
    display: flex;
}

#cuartaSeccion li{
    padding: 24px;
}