nav{
    background-color: #121618;
    height: 70px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffdc00;

}

a{
    float: right;
    margin-right: 40px;
    /* Para que no aparezca como que está subrayado [Hipervínculo] */
    text-decoration: none;
    color: #fff;
}

img{
    text-align: left;
    height: 50px;
    margin-left: 0px;
    padding-left: 5%;
}  

#tabs{
    display: flex;
    justify-content: center;
    align-items: center;
}