nav{
    background: #374b56;
    height: 70px;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid #ffdc00; */
    /* Para dejar el navbar estático */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-family: 'Poppins','Open Sans', sans-serif;
}

a{
    float: right;
    margin-right: 40px;
    /* Para que no aparezca como que está subrayado [Hipervínculo] */
    text-decoration: none;
    color: #fff;
}

img{
    text-align: left;
    height: 50px;
    margin-left: 0px;
} 

/* Animacion del logo */
img{
    vertical-align:middle;
    position: relative;
    width: 50px;
    outline: 2.5px solid #374b56;
    cursor: pointer;
    transition: 0.2s;
 }
img:hover {
    outline:3px solid #ffc800;
    outline-offset: 2px;
    opacity: 0.6;
 }

img{
    border-radius: 50%;
 }

#tabs{
    font-family: 'Poppins','Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home:hover, #shop:hover, #about:hover, #contact:hover {
    color: #ffc800;
}
