#body {
    margin-bottom: 1300px;
}

/* Titulo "All Productos"*/
#titulo {
    margin: 150px 0px;
    text-align: center;
    font-size: 50px;
}

#tituloCalcetines {
    color: #ffc800;
    transition: 0.3s;
}

#cuerpoCalcetines {
    color: black;
}

/* Para intercambiar los colores del titulo cuando el usuario haga hover sobre el titulo */
#tituloCalcetines:hover {
    color: black;
}

#tituloCalcetines:hover #cuerpoCalcetines {
    color: #ffc800;
    transition: 0.3s;
}

#body h3 {
    font-size: 50px;
    text-align: center;
}

#productos {
    padding: 0px 15px;
    column-count: 2;
    width: 80%;
    margin: 0 auto;
}

#def {
    font-size: 17px;
    text-align: center;
    margin: 18px 150px 100px 150px;
}

#producto1 {
    box-sizing: border-box;
    color: rgb(5, 25, 34);
    display: block;
    flex-basis: 33.333332%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 573px;
    left: 0px;
    letter-spacing: 0.1px;
    line-height: 25.200001px;
    max-width: 33.333332%;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 380px;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #ffeca9;
    margin-top: 800px;
    margin-left: 250px;
    margin-bottom: 60px;
}

#producto2 {
    box-sizing: border-box;
    color: rgb(5, 25, 34);
    display: block;
    flex-basis: 33.333332%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 573px;
    left: 0px;
    letter-spacing: 0.1px;
    line-height: 25.200001px;
    max-width: 33.333332%;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 380px;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #ffeca9;
    margin-top: 800px;
    margin-left: 800px;
}

#producto3 {
    box-sizing: border-box;
    color: rgb(5, 25, 34);
    display: block;
    flex-basis: 33.333332%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 573px;
    left: 0px;
    letter-spacing: 0.1px;
    line-height: 25.200001px;
    max-width: 33.333332%;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 380px;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #ffeca9;
    margin-top: 1450px;
    margin-left: 250px;
    margin-bottom: 60px;
}

#producto4 {
    box-sizing: border-box;
    color: rgb(5, 25, 34);
    display: block;
    flex-basis: 33.333332%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 573px;
    left: 0px;
    letter-spacing: 0.1px;
    line-height: 25.200001px;
    max-width: 33.333332%;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 380px;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #ffeca9;
    margin-top: 1450px;
    margin-left: 800px;
    margin-bottom: 60px;
}

#producto1:hover {
    box-shadow: 0px 0px 15px 0px #949494;
}

#producto2:hover {
    box-shadow: 0px 0px 15px 0px #949494;
}

#producto3:hover {
    box-shadow: 0px 0px 15px 0px #949494;
}

#producto4:hover {
    box-shadow: 0px 0px 15px 0px #949494;
}

#productos img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0px 0px 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#productos h2 {
    font-size: 20px;
    margin: 0px 0px 15px;
    text-align: center;
}

#productos p {
    font-size: 30px;
    margin: 0px 0px 25px;
    font-weight: 700;
    text-align: center;
}

#botonCart {
    background-color: #ffc800;
    border-radius: 29px;
    border: 1px solid #ffc800;
    color: black;
    font-size: 15px;
    padding: 10px 45px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* flex-direction: row; 
    align-items: center;*/
}

#botonCart:hover {
    background-color: #ffd94e;
    color: #081F2D;
    border-color: #081F2D;
    transition: 0.5s;
    font-weight: 600;
}

#botonCart svg {
    margin-right: 8px;
    width: 20px;
    height: 30px;
}

#Cart {
    /*Quitamos el subrayado */
    text-decoration: none;
    /*Quitamos todo lo que le afecte al boton */
    outline: none;
    color: black;
    margin-top: 4px;
    font-family: 'Poppins', sans-serif;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari 
    animation: spin 2s linear infinite;*/
}